<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/stylesheets/style.css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> application.</p>
    <ul >
      <li ><a href="/api/products">Get all Products</a></li>
      <li ><a href="/getProductById">Get Product by id</a></li>
      <li ><a href="/addNewProduct">Add new Product</a></li>
      <li ><a href="/updateProduct">Update Product by id</a></li>
      <!-- <li ><a href="/removeProduct">Remove Product by id</a></li>
      <li ><a href="/removeAllProduct">Remove all Products</a></li>
      <li ><a href="/findProduct">Find all products which name contains..</a></li> -->
    </ul>
  </body>
</html>
